<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common :: head}">
    </head>

    <body>
        <header>
            <nav th:replace="~{common :: nav}"></nav>
            <h1>SIGN UP</h1>
        </header>

        <main>
            <form th:if="${!loggedIn}" action="/signup" method="post">
                <label>Username: <input name="username"></label>
                <label>Password: <input type="password" name="password"></label>
                <label>First Name: <input name="firstName"></label>
                <label>Last Name: <input name="lastName"></label>
                <label>Date of Birth: <input name="dateOfBirth"></label>
                <label>Bio: <input name="bio"></label>
                <input type="submit">
            </form>

            <h2 th:if="${loggedIn}">You are already signed in. Please <a href="/perform_logout">logout</a> first if you wish to create a new account</h2>
        </main>
    </body>
</html>